.appContent {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contentTitle {
    font-size: 20px;
    font-weight: 500;
    color: #444;
}

.contentInputInput {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #555;
}

.contentInputInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.5);
    transform: scale(1.02);
}



.contentButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.contentButton .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 48px;
    padding: 0 20px;
    background-color: #009dff;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contentButton .button:hover {
    background-color: #007acc;
}
